body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
}

header {
    background: #222;
    color: #ff6600;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    transform: perspective(500px) rotateX(0deg);
    transition: transform 0.5s;
}

header h1:hover {
    transform: perspective(500px) rotateX(20deg);
}

header p {
    margin: 0;
    font-size: 1.2em;
}

nav {
    background: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6600;
}

.experience-item, .project-item {
    background: #222;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience-item:hover, .project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.experience-item h3, .project-item h3 {
    margin-top: 0;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin: 5px 0;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills ul li {
    background: #333;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

#skills ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
